body {background: black;font-size: 14px;width: 100%}
#wrapper {margin: 0 auto;width:100%;}
section article {}
.contentup,.contentup2{display: inline-block;height : 150px;width: 50%;}
.contentup {background: yellow; float: left;}
.contentup2 {background: blue;color: white;}
#logo {height: 100px;width: 316px;}
.contentup2 div {float: right; clear: both;margin-right: 10%}
